.fonctionnement button:hover {
  background-color: rgba(146, 86, 220, 0.1764705882);
}
.fonctionnement button:hover i {
  color: #9356dc;
}

.fade_in1 {
  animation: fadein 2s;
  animation-fill-mode: both;
}
.fade_in2 {
  animation: fadein 2s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
}
.fade_in3 {
  animation: fadein 2s;
  animation-delay: 3s;
  animation-fill-mode: both;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
  }
}
@keyframes apparition {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
    visibility: hidden;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes clignote {
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.restaurant_images-1 {
  object-position: 50% 95%;
}

.restaurant_images-2 {
  object-position: 50% 60%;
}

.restaurant_images-3 {
  object-position: 20% 100%;
}

.restaurant_images-4 {
  object-position: 50% 100%;
}

.btn_1::before {
  content: "1";
}

.btn_2::before {
  content: "2";
}

.btn_3::before {
  content: "3";
}

h1,
h2,
h3,
.logo {
  font-family: "shrihand", sans-serif;
  font-size: 25px;
  font-weight: 900;
}

p {
  font-size: 18px;
}

/* header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header img {
  width: 40%;
  margin: 15px 0;
}
.header i {
  position: absolute;
  left: 20px;
  font-size: 25px;
}

/* header */
.contact {
  background-color: #525252;
  padding: 5%;
}
@media screen and (min-width: 768px) {
  .contact {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1%;
  }
}
.contact h3 {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  margin: 15px 0;
  color: white;
}
@media screen and (min-width: 768px) {
  .contact h3 {
    margin: 20px 10px 50px;
  }
}
.contact_contenair {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}
.contact_contenair div {
  color: white;
  display: flex;
}
@media screen and (min-width: 768px) {
  .contact_contenair {
    margin: 20px 10px;
  }
}
@media screen and (min-width: 992px) {
  .contact_contenair {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}
.contact_contenair i {
  margin-right: 10px;
}

/* header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header img {
  width: 40%;
  margin: 15px 0;
}
.header i {
  position: absolute;
  left: 20px;
  font-size: 25px;
}

/* header */
.loader {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: apparition 0.2s 3s ease-in-out forwards;
}
.loader_spinner::after, .loader_spinner::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: #ff79da #9356dc;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader_spinner::before {
  width: 80px;
  height: 80px;
  border-color: #ff79da #99e2d0;
  animation: rotation 1.5s linear infinite;
}

.search_localisation {
  padding: 15px;
  text-align: center;
  background-color: rgba(233, 233, 233, 0.8392156863);
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}
.search_localisation i {
  margin-right: 20px;
}
.search_localisation p {
  font-weight: 700;
}
.search_content {
  text-align: center;
  padding: 30px;
  background-color: #f5f5f5;
}
.search_content h1 {
  margin: 10px 0;
}
.search_content h2 {
  font-weight: normal;
  font-size: 1.2rem;
  margin: 10px 0;
}

@media screen and (min-width: 768px) {
  .menu_contenair {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.menu_imager {
  height: 55vw;
}
@media screen and (min-width: 768px) {
  .menu_imager {
    height: auto;
  }
}
.menu_imager img {
  width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .menu_imager img {
    height: 300px;
  }
}
.menu_choices {
  border-radius: 40px 40px 0 0;
  position: relative;
  width: 100%;
  background-color: #f5f5f5;
  padding: 8% 5%;
}
@media screen and (min-width: 768px) {
  .menu_choices {
    border-radius: 0;
  }
}
.menu_title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.menu_title h1 {
  margin-right: 10px;
  font-family: "Shrikhand", cursive;
}
.menu_title i {
  font-size: 30px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: transparent;
  background: linear-gradient(90deg, #f5f5f5 0%, #f5f5f5 50%, transparent 50%, transparent 100%), linear-gradient(180deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  transition: all 1s ease-in-out;
  background-size: 200%;
}
.menu_title i:active {
  background-position: right;
  -webkit-text-stroke-width: 0;
}
.menu h2 {
  font-weight: normal;
  margin: 20px 0 20px 0;
  font-size: 18px;
  position: relative;
  width: 40px;
}
.menu h2::after {
  content: "";
  height: 2px;
  width: 90%;
  position: absolute;
  background: #99e2d0;
  bottom: -10px;
  left: 1px;
  max-width: 100px;
}
.menu_items-contenair {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin: 20px 0 20px 0;
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 768px) {
  .menu_items-contenair {
    width: 30%;
  }
}
.menu_items-contenair:hover .menu_check {
  width: 30%;
  transition: all 1.5;
}
.menu_items-contenair:hover i {
  visibility: visible;
  transition: 1.2s;
  transform: rotate(720deg);
}
.menu h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 15px 0 0 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu p {
  font-size: 18px;
}
.menu_price {
  font-weight: bold;
  margin-left: 10px;
}
.menu_details {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu_check {
  display: flex;
  align-items: center;
  width: 0;
  justify-content: center;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  transition: all 1.5s;
  background-color: #99e2d0;
}
.menu_check i {
  visibility: hidden;
  color: #99e2d0;
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
  transform: rotate(0deg);
}
.menu_text {
  width: 100%;
  min-width: 0;
}
.menu_text div {
  display: flex;
  justify-content: space-between;
  margin: 8px 15px;
}

.fonctionnement {
  margin: 50px 5% 5% 5%;
}
.fonctionnement_tab {
  display: flex;
  flex-direction: column;
  margin: 20px 0 40px;
}
.fonctionnement_tab button {
  border-radius: 20px;
  padding: 20px;
  background-color: #f5f5f5;
  border: none;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
  margin: 10px 0;
}
@media screen and (min-width: 992px) {
  .fonctionnement_tab button {
    width: 30%;
  }
}
@media screen and (min-width: 992px) {
  .fonctionnement_tab {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
}
.fonctionnement_btn {
  display: grid;
  align-items: center;
  grid-template-columns: 10% 70%;
  justify-items: center;
  position: relative;
}
.fonctionnement_btn i {
  color: rgba(0, 0, 0, 0.5);
}
.fonctionnement_btn span {
  font-weight: 600;
}
.fonctionnement_btn span::before {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  transform: translate(-100%, -50%);
  color: white;
  background-color: #9356dc;
  position: absolute;
  left: 0;
  top: 50%;
}

.restaurant {
  width: 100%;
  background-color: rgba(158, 158, 158, 0.1019607843);
  display: flex;
  flex-direction: column;
  padding: 5%;
}
.restaurant h2 {
  margin: 50px 0 20px 0;
}
.restaurant_contenair {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5%; /* important */
}
.restaurant_card {
  position: relative;
  border-radius: 20px;
  width: 300px;
  height: 226px;
  margin: 10px auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  flex-grow: 1;
}
.restaurant_card:hover {
  transform: scale(1.03);
}
@media screen and (min-width: 992px) {
  .restaurant_card {
    max-width: 400px;
    height: 300px;
  }
}
.restaurant_card a {
  width: 100%;
  height: 100%;
}
.restaurant_card a img {
  width: 100%;
  object-fit: cover;
  height: 70%;
  border-radius: 20px 20px 0 0;
}
.restaurant_description {
  margin: 2%;
}
.restaurant h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 2%;
}
.restaurant i {
  cursor: pointer;
  position: absolute;
  right: 25px;
  bottom: 20px;
  font-size: 30px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: transparent;
  background: linear-gradient(90deg, #fff 0%, #fff 50%, transparent 50%, transparent 100%), linear-gradient(180deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  transition: all 1s ease-in-out;
  background-size: 200%;
}
@media screen and (min-width: 992px) {
  .restaurant i {
    bottom: 25px;
  }
}
.restaurant i:active {
  background-position: right;
  -webkit-text-stroke-width: 0;
}
.restaurant_new-tag {
  position: absolute;
  right: 10px;
  top: 10px;
  background: #99e2d0;
  padding: 10px 10px;
  border-radius: 2px;
  font-size: 18px;
  color: rgb(4, 136, 94);
  font-weight: 500;
}

.clignote {
  animation: clignote 2s linear infinite;
}

.main_button {
  border-radius: 30px;
  padding: 15px 30px;
  cursor: pointer;
  margin: 20px 0 0 0;
  background-image: linear-gradient(#ff79da, #9356dc);
  color: white;
  border: none;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}
.main_button:hover {
  background-image: linear-gradient(#f988d9, #945fd5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 992px) {
  .main_button {
    margin: 40px 0 0 0;
    width: 50%;
    max-width: 300px;
  }
}

.order_button {
  text-align: center;
}

.fonctionnement_tab button:hover {
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.35);
  transform: scale(1.02);
}

/*# sourceMappingURL=style.css.map */
