/* header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  img {
    width: 40%;
    margin: 15px 0;
  }
  & i {
    position: absolute;
    left: 20px;
    font-size: 25px;
  }
}
/* header */
