.loader {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: apparition 0.2s 3s ease-in-out forwards;
  @keyframes apparition {
    from {
      opacity: 100%;
    }
    to {
      opacity: 0%;
      visibility: hidden;
    }
  }

  &_spinner {
    &::after,
    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      border: 3px solid;
      border-color: $secondary-color $primary-color;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      box-sizing: border-box;
      animation: rotationBack 0.5s linear infinite;
      transform-origin: center center;
    }
    &::before {
      width: 42px;
      height: 42px;
      border-color: $secondary-color $tertiary-color;
      animation: rotation 1.5s linear infinite;
    }

    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    @keyframes rotationBack {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(-360deg);
      }
    }
  }
}
