.menu {
  &_contenair {
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  &_imager {
    height: 55vw;
    @media screen and (min-width: 768px) {
      height: auto;
    }
    & img {
      width: 100%;
      object-fit: cover;
      @media screen and (min-width: 768px) {
        height: 20%;
      }
    }
  }
  &_choices {
    border-radius: 40px 40px 0 0;
    position: relative;
    width: 100%;
    background-color: $lighter-header-color;
    padding: 8% 5%;
    @media screen and (min-width: 768px) {
      border-radius: 0;
    }
  }
  &_title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    & h1 {
      margin-right: 10px;
      font-family: "Shrikhand", cursive;
    }
    & i {
      font-size: 30px;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
      color: transparent;
    }
  }
  & h2 {
    font-weight: normal;
    margin: 20px 0 20px 0;
    font-size: 18px;
    position: relative;
    width: 40px;
    &::after {
      content: "";
      height: 2px;
      width: 90%;
      position: absolute;
      background: $tertiary-color;
      bottom: -10px;
      left: 1;
      max-width: 100px;
    }
  }
  &_items-contenair {
    margin: 20px 0 20px 0;
    border-radius: 20px;
    background-color: white;
    padding: 15px;
    @include shadow;
    @media screen and (min-width: 768px) {
      width: 30%;
    }
  }
  & span {
    display: flex;
    justify-content: space-between;
  }
  & h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  & p {
    font-size: 18px;
  }
  &_price {
    font-weight: bold;
  }
  &_details {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
