.menu {
  &_contenair {
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  &_imager {
    height: 55vw;
    @media screen and (min-width: 768px) {
      height: auto;
    }
    & img {
      width: 100%;
      object-fit: cover;
      @media screen and (min-width: 768px) {
        height: 300px;
      }
    }
  }
  &_choices {
    border-radius: 40px 40px 0 0;
    position: relative;
    width: 100%;
    background-color: $lighter-header-color;
    padding: 8% 5%;
    @media screen and (min-width: 768px) {
      border-radius: 0;
    }
  }
  &_title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    & h1 {
      margin-right: 10px;
      font-family: "Shrikhand", cursive;
    }
    & i {
      font-size: 30px;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
      color: transparent;
      background: $heart_gradiant-menu;
      -webkit-background-clip: text;
      background-clip: text;
      transition: all 1s ease-in-out;
      background-size: 200%;
      &:active {
        background-position: right;
        -webkit-text-stroke-width: 0;
      }
    }
  }
  & h2 {
    font-weight: normal;
    margin: 20px 0 20px 0;
    font-size: 18px;
    position: relative;
    width: 40px;
    &::after {
      content: "";
      height: 2px;
      width: 90%;
      position: absolute;
      background: $tertiary-color;
      bottom: -10px;
      left: 1px;
      max-width: 100px;
    }
  }
  &_items-contenair {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 20px 0;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    @include shadow;
    @media screen and (min-width: 768px) {
      width: 30%;
    }
    &:active .menu_check {
      width: 30%;
      transition: all 1.5s;
    }
    &:active i {
      visibility: visible;
      transition: 1.5s;
      transform: rotate(720deg);
    }
  }
  & h3 {
    font-size: 18px;
    font-weight: 700;
    margin: 15px 0 0 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  & p {
    font-size: 18px;
  }
  &_price {
    font-weight: bold;
  }
  &_details {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &_check {
    display: flex;
    align-items: center;
    width: 0;
    justify-content: center;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    transition: all 1.5s;
    background-color: $tertiary-color;
    & i {
      visibility: hidden;
      color: $tertiary-color;
      background-color: white;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      font-size: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 1.5s;
      transform: rotate(0deg);
    }
  }
  &_text {
    width: 100%;
    min-width: 0;
    & div {
      display: flex;
      justify-content: space-between;
      margin: 8px 15px;
    }
  }
}
