.main_button {
  border-radius: 30px;
  padding: 15px 30px;
  cursor: pointer;
  margin: 20px 0 0 0;
  background-image: $gradiant;
  color: white;
  border: none;
  box-shadow: 2px 2px 10px rgb(0 0 0 / 30%);
  &:hover {
    background-image: linear-gradient(#f988d9, #945fd5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 50%);
  }

  @include shadow;
  @media screen and (min-width: 992px) {
    margin: 40px 0 0 0;
    width: 50%;
    max-width: 300px;
  }
}

.order_button {
  text-align: center;
}
