// fonctionnement bouton
.fonctionnement button {
  &:hover {
    background-color: $lighter-primary-color;
    & i {
      color: $primary-color;
    }
  }
}

// apparition menu progressive

.fade_in {
  &1{
    animation: fadein 2s; 
    animation-fill-mode: both;
  }
  &2{
    animation: fadein 2s;
    animation-delay: 1.5s; 
    animation-fill-mode: both;
  }
  &3{
    animation: fadein 2s;
    animation-delay: 3s; 
    animation-fill-mode: both;
  }
  
}
@keyframes fadein {
    0% {
      opacity: 0;
      transform: translateY(10%);
    }
    100% {
      opacity: 1;
    }
  }

// loading
.loader {
  @keyframes apparition {
    from {
      opacity: 100%;
    }
    to {
      opacity: 0%;
      visibility: hidden;
    }
  }
  &_spinner {
    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    @keyframes rotationBack {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(-360deg);
      }
    }
  }
}

// banniere clignote
@keyframes clignote {
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}