// fonctionnement bouton
.fonctionnement button {
  &:hover {
    background-color: $lighter-primary-color;
    & i {
      color: $primary-color;
    }
  }
}

// apparition menu progressive
.fade_in {
  animation: fadein 3s;
  @keyframes fadein {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

// loading
.loader {
  @keyframes apparition {
    from {
      opacity: 100%;
    }
    to {
      opacity: 0%;
      visibility: hidden;
    }
  }
  &_spinner {
    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    @keyframes rotationBack {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(-360deg);
      }
    }
  }
}
